//Cloud
PORT = 3500
HOST_DB = 'cluster0-wd7mm.mongodb.net'
USER_DB = 'Erick'
PASS_DB = 'root420'
NAME_DB = 'ApiExample'


//Local
PORT = 3500
HOST_DB = 'localhost'
PORT_DB = '27017'
USER_DB = 'Erick'
PASS_DB = 'root420'
NAME_DB = 'Cine'